.ordermonth .outer {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
}

.ordermonth a,
.ordermonth a:hover {
  color: #000;
  text-decoration: none;
}

.ordermonth .form-inline {
  background-color: #000;
  padding: 1rem;
  color: #FFEE35;
  justify-content: center;
  border-bottom: 1px solid #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ordermonth .header {
  background: #000;
  color: #5790eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
}

.ordermonth .header .title {
  color: #FFEE35;
  font-size: 1rem;
  /*margin-top: 5px;*/
}

.ordermonth .navbtn {
  width: 57px;
  height: 57px;
  cursor: pointer;
  margin: 8px;
  opacity: 0.90;
}

.ordermonth .navbtn:hover {
  opacity: 1;
}

.ordermonth .navbtn.prev {
  background: url("/img/back.png") no-repeat scroll 0 0 transparent;
}

.ordermonth .navbtn.next {
  background: url("/img/next.png") no-repeat scroll 0 0 transparent;
}

.ordermonth .avatar {
  margin-left: 0.5rem;
}

.ordermonth th,
.ordermonth td {
  width: 1%;
  text-align: center;
  font-weight: normal;
}

.ordermonth .lunchdates th {
  background-color: #427cd8;
  background-image: linear-gradient(to bottom, #93caff 0, #003db8 100%);
  background-repeat: repeat-x;
  color: #fff;
  text-shadow: 1px 1px #222;
  border: 1px solid #4285f4;
  font-size: 14px;
  line-height: 14px;
}

.ordermonth td {
  height: 100px;
  padding: 20px 10px 10px;
  background-color: #fafafa;
  font-size: 13px;
  line-height: 16px;
  color: #aaa;
  position: relative;
  background-clip: padding-box;
}

.ordermonth td.white {
  background-color: #fff;
  color: #000;
}

.ordermonth td.enabled:hover {
  background-color: #eff3f9;
}

.ordermonth td.today {
  background-color: #ffc;
}

.ordermonth .dayno {
  position: absolute;
  right: 6px;
  top: 3px;
  color: #aaa;
}

.ordermonth .enabled .dayno {
  color: #4285f4;
}

.ordermonth .provider {
  max-width: 35px;
  max-height: 35px;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.ordermonth td.enabled div.lunchtext {
  color: #080;
  padding-bottom: 6px;
}

.ordermonth td .fa-edit {
  color: #080;
  font-size: 1.4rem;
}

.ordermonth td .fa-plus-circle {
  font-size: 3.2rem;
  color: #080;
}

.ordermonth .addltxt,
.ordermonth .nlereason {
  padding: 8px 0 4px;
}

.ordermonth .extcare,
.ordermonth .nledesc {
  padding: 4px 0 8px;
}

.ordermonth .white .extcare {
  color: #c00;
}

.ordermonth .white .nlereason,
.ordermonth .white .nledesc {
  color: #4285f4;
}

.ordermonth .nlo {
  //font-variant: small-caps;
  //font-family: 'Vollkorn', serif;
  font-weight: 700;
  color: #ccc;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.ordermonth .spacer {
  display: none;
}

.ordermonth tr:last-child td {
  height: auto;
  background-color: #fafafa;
  color: #666;
  font-size: 12px;
  padding: 5px;
}

.ordermonth tr:last-child td a,
.ordermonth tr:last-child td a:hover {
  color: #9c3033;
}

.ordermonth .todaybox {
  height: 11px;
  width: 11px;
  border: 1px solid #333;
  margin: 0 3px -1px 0;
  display: inline-block;
  background-color: #ffc;
}

@keyframes cellanimate {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.0);
  }
}

.ordermonth .cell-animate div,
.ordermonth .cell-animate .fa {
  animation-name: cellanimate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes cellanimateimg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ordermonth .cell-animate img {
  animation-name: cellanimateimg;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

.ordermonth #viewBy.btn {
  color: #5790eb;
  padding: 0;
}

.ordermonth .dropdown {
  display: inline;
}

@media (min-width: 1025px) {
  .ordermonth td {
    height: 120px;
  }

  .ordermonth .provider {
    max-width: 45px;
    max-height: 45px;
  }

  .ordermonth td .fa-plus-circle {
    font-size: 3.5rem;
  }
}

@media (max-width: 767px) {

  body {
    background-color: #fff;
  }

  .main .container-fluid {
    padding: 0;
  }

  .ordermonth .outer {
    box-shadow: none;
  }

  .ordermonth .lunchdates th {
    font-size: 11px;
    line-height: 11px;
  }

  .ordermonth .form-inline {
    border-radius: 0;
  }

  .ordermonth .header {
    font-size: 22px;
    line-height: 22px;
  }

  .ordermonth .header .title {
    font-size: 11px;
    line-height: 11px;
  }

  .ordermonth .navbtn {
    width: 40px;
    height: 40px;
  }

  .ordermonth .navbtn.prev,
  .ordermonth .navbtn.next {
    background-size: 40px;
  }

  .ordermonth td {
    height: 80px;
    font-size: 10px;
    line-height: 12px;
    padding: 15px 6px 5px;
  }

  .ordermonth .nlo {
    font-size: 11px;
    line-height: 13px;
  }

  .ordermonth td .fa-edit {
    font-size: 1.2rem;
  }

  .ordermonth td .fa-plus-circle {
    font-size: 2.2rem;
  }

  .ordermonth .provider {
    max-width: 20px;
    max-height: 20px;
  }

  .ordermonth .alert {
    margin-bottom: 0;
    border-radius: 0;
  }
}
